.grid_group {
    display: grid;
    color: var(--white);
    height: 100px;
}

.grid_two_column {
    grid-template-columns: 1fr 1fr;
}

.grid_one {
    background-color: var(--orange);
}

.grid_two {
    background-color: var(--red);
}

.grid_three {
    background-color: var(--green);
}

.grid_three_column {
    grid-template-columns: 1fr 1fr 1fr;
}