<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Naveen Chandar">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/variables.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../sidebar/sidebar.css">
    <link rel="stylesheet" href="./card.css">
    <title>Card</title>
</head>

<body id="card">
    <section id="sidebar">
        <header class="sb_header" id="header">
            <div class="sb_header_toggle">
                <i class='bx bx-menu' id="header-toggle"></i>
            </div>

            <div class="sb_header_img">
                <img src="assets/img/perfil.jpg" alt="">
            </div>
        </header>
        <main class="sb_main">
            <div class="sb_list show" id="nav-bar">
                <nav class="sb_nav">
                    <div>
                        <a href="../../index.html" class="sb_nav_logo">
                            <i class='bx bx-layer sb_nav_logo_icon'></i>
                            <span class="sb_nav_logo_name">Naveen UI</span>
                        </a>

                        <div class="sb_nav_list">
                            <div>
                                <h3 class="sb_list_topic">Getting Started</h3>
                                <ul class="sb_nav_list_group">
                                    <li>
                                        <a href="#" class="sb_nav_link active">
                                            <i class='bx bx-grid-alt sb_nav_icon'></i>
                                            <span class="nav_name">Installation</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="sb_nav_link active">
                                            <i class='bx bx-grid-alt sb_nav_icon'></i>
                                            <span class="nav_name">What's New</span>
                                        </a>

                                    </li>
                                </ul>
                            </div>
                            <div>
                                <h3 class="sb_list_topic">Components</h3>
                                <ul class="sb_nav_list_group">
                                    <li>
                                        <a href="../alert/alert.html#alert" class="sb_nav_link active">
                                            <i class='bx bx-grid-alt sb_nav_icon'></i>
                                            <span class="nav_name">Alert</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="../avatar/avatar.html#avatar" class="sb_nav_link">
                                            <i class='bx bx-user sb_nav_icon'></i>
                                            <span class="nav_name">Avatar</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="../badge/badge.html#badge" class="sb_nav_link">
                                            <i class='bx bx-message-square-detail sb_nav_icon'></i>
                                            <span class="nav_name">Badge</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="../button/button.html#button" class="sb_nav_link">
                                            <i class='bx bx-bookmark sb_nav_icon'></i>
                                            <span class="nav_name">Button</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="sb_nav_link">
                                            <i class='bx bx-folder sb_nav_icon'></i>
                                            <span class="nav_name">Card</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="../image/image.html#image" class="sb_nav_link">
                                            <i class='bx bx-bar-chart-alt-2 sb_nav_icon'></i>
                                            <span class="nav_name">Image</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="sb_nav_link">
                                            <i class='bx bx-bar-chart-alt-2 sb_nav_icon'></i>
                                            <span class="nav_name">Input</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="sb_nav_link">
                                            <i class='bx bx-bar-chart-alt-2 sb_nav_icon'></i>
                                            <span class="nav_name">List</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <a href="#" class="sb_nav_link">
                        <i class='bx bx-log-out sb_nav_icon'></i>
                        <span class="nav_name">Log Out</span>
                    </a>
                </nav>
            </div>
            <div class="sb_content">
                <h1>Components</h1>
            </div>
        </main>
    </section>
    <section class="flex_row card_section">
        <div>
            <h4 class="card_title">Basic Card</h4>
            <div class="card_container">
                <div class="basic_card">
                    <div class='basic_card_image'>
                        <img src='https://images.unsplash.com/photo-1536323760109-ca8c07450053' alt='Basic card'
                            loading='lazy' />
                    </div>
                    <div class="card_body">
                        <h3>Title</h3>
                        <p>subtitle</p>
                        <p>Visit ten places on our planet that are undergoing the biggest changes today.</p>
                    </div>
                    <div class="card_footer flex">
                        <ul class="flex align_center justify_even">
                            <li class="text_uppercase">Read</li>
                            <li class="text_uppercase">Bookmark</li>
                            <li><i class="fa fa-heart-o"></i></li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-share" viewBox="0 0 16 16">
                                    <path
                                        d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z" />
                                </svg>
                            </li>
                            <li class="card_more_option">...</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div>
            <h4 class="card_title">Card With Text Over Media</h4>
            <div class="card_container">
                <div class="basic_card basic_card_text_overlap">
                    <div class='basic_card_image'>
                        <img src='https://images.unsplash.com/photo-1536323760109-ca8c07450053' alt='Text over card'
                            loading='lazy' />
                    </div>
                    <div class="overlay_text align_selfend">
                        <h3 class="overlay_title">Title</h3>
                        <p class="overlay_subtitle">Subtitle</p>
                    </div>
                    <div class="card_body">
                        <p>Visit ten places on our planet that are undergoing the biggest changes today.</p>
                    </div>
                    <div class="card_footer flex">
                        <ul class="flex justify_even align_center">
                            <li class="text_uppercase">Read</li>
                            <li class="text_uppercase">Bookmark</li>
                            <li><i class="fa fa-heart-o"></i></li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-share" viewBox="0 0 16 16">
                                    <path
                                        d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z" />
                                </svg>
                            </li>
                            <li class="card_more_option">...</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div>
            <h4 class="card_title">Card With Header</h4>
            <div class="card_container">
                <div class="basic_card basic_card_with_header">
                    <div class='card_header'>
                        <h3 class="card_header_title">Our Changing Planet</h3>
                        <p class="card_header_subtitle">by Kurt Wagner</p>
                    </div>
                    <div>
                        <img src='https://images.unsplash.com/photo-1536323760109-ca8c07450053' alt='Card with header'
                            loading='lazy' />
                    </div>
                    <div class="card_body">
                        <p>Visit ten places on our planet that are undergoing the biggest changes today.</p>
                    </div>
                    <div class="card_footer flex">
                        <ul class="flex justify_even align_center">
                            <li class="text_uppercase">Read</li>
                            <li class="text_uppercase">Bookmark</li>
                            <li><i class="fa fa-heart-o"></i></li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-share" viewBox="0 0 16 16">
                                    <path
                                        d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z" />
                                </svg>
                            </li>
                            <li class="card_more_option">...</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div>
            <h4 class="card_title">Card With Buttons</h4>
            <div class="card_container">
                <div class="basic_card basic_card_with_btns">
                    <div class='basic_card_image'>
                        <img src='https://images.unsplash.com/photo-1536323760109-ca8c07450053' alt='Card with buttons'
                            loading='lazy' />
                    </div>
                    <div class="card_body">
                        <h3>Our Changing Planet</h3>
                        <p>by Kurt Wagner</p>
                        <p>Visit ten places on our planet that are undergoing the biggest changes today.</p>
                    </div>
                    <div class="card_footer flex">
                        <ul class="flex justify_start align_center">
                            <li class="text_uppercase">Read</li>
                            <li class="text_uppercase">Bookmark</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div>
            <h4 class="card_title">Card With Icons</h4>
            <div class="card_container">
                <div class="basic_card basic_card_with_icons">
                    <div class='basic_card_image'>
                        <img src='https://images.unsplash.com/photo-1536323760109-ca8c07450053' alt='Card with icons'
                            loading='lazy' />
                    </div>
                    <div class="card_body">
                        <h3>Our Changing Planet</h3>
                        <p>by Kurt Wagner</p>
                        <p>Visit ten places on our planet that are undergoing the biggest changes today.</p>
                    </div>
                    <div class="card_footer flex">
                        <ul class="flex justify_end align_center">
                            <li><i class="fa fa-heart-o"></i></li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-share" viewBox="0 0 16 16">
                                    <path
                                        d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z" />
                                </svg>
                            </li>
                            <li class="card_more_option">...</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div>
            <h4 class="card_title">Profile Card</h4>
            <div class="card_container">
                <div class='basic_card'>
                    <div class="card_container_horizontal flex align_start">
                        <div class="card_image">
                            <img src='https://images.unsplash.com/photo-1536323760109-ca8c07450053' alt='Profile card'
                                loading='lazy' />
                        </div>
                        <div class="card_body">
                            <h3>Our Changing Planet</h3>
                            <p>by Kurt Wagner</p>
                        </div>
                    </div>
                    <div class="card_footer flex">
                        <ul class="flex justify_even align_center">
                            <li class="text_uppercase">Read</li>
                            <li class="text_uppercase">Bookmark</li>
                            <li><i class="fa fa-heart-o"></i></li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-share" viewBox="0 0 16 16">
                                    <path
                                        d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z" />
                                </svg>
                            </li>
                            <li class="card_more_option">...</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div>
            <h4 class="card_title">Profile Card With Badge </h4>
            <div class="card_container_badge">
                <div class='basic_card'>
                    <div class="card_container_horizontal">
                        <div class="card_image">
                            <img src='https://images.unsplash.com/photo-1536323760109-ca8c07450053'
                                alt='Profile card with badge' loading='lazy' />
                        </div>
                        <div class="card_body">
                            <h3>Our Changing Planet</h3>
                            <p>by Kurt Wagner</p>
                        </div>
                    </div>
                    <div class="card_footer flex">
                        <ul class="flex justify_even align_center">
                            <li class="text_uppercase">Read</li>
                            <li class="text_uppercase">Bookmark</li>
                            <li><i class="fa fa-heart-o"></i></li>
                            <li>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-share" viewBox="0 0 16 16">
                                    <path
                                        d="M13.5 1a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zM11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5zm-8.5 4a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3zm11 5.5a1.5 1.5 0 1 0 0 3 1.5 1.5 0 0 0 0-3z" />
                                </svg>
                            </li>
                            <li class="card_more_option">...</li>
                        </ul>
                    </div>
                </div>
                <span class="card_badge">New</span>
            </div>
        </div>
        <br />
        <div>
            <h4 class="card_title">E-Commerce Card </h4>
            <div class="ecommerce_card flex_column">
                <div class="product_image">
                    <i class='fa fa-heart-o product_wishlist'></i>
                </div>
                <div class="product_details flex">
                    <h5 class="flex justify_spacebtw">
                        <span class="product_review">
                            <i class='fa fa-star'></i>
                            <i class='fa fa-star'></i>
                            <i class='fa fa-star'></i>
                            <i class='fa fa-star-half-empty'></i>
                            <i class='fa fa-star-o star_empty'></i>
                            <span>3.5</span>
                        </span>
                        <span class="product_offer">
                            25% off
                        </span>
                    </h5>
                    <div class="product_info">
                        <h2 class="product_brand">Product Brand</h2>
                        <h4 class="product_title">Product title.</h4>
                    </div>
                    <div class="product_footer flex justify_spacebtw align_center">
                        <div class="product_price">
                            <span class="product_discount_price">Rs. 800</span>
                            <span class="product_original_price">Rs. 1600</span>
                        </div>
                        <button class="product_add_cart">
                            Add to cart
                            <i class='fa fa-cart-plus'></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>