<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Naveen Chandar">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/variables.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../sidebar/sidebar.css">
    <link rel="stylesheet" href="./button.css">
    <title>Button</title>
</head>

<body id="button">
    <section id="sidebar">
        <header class="sb_header" id="header">
            <div class="sb_header_toggle">
                <i class='bx bx-menu' id="header-toggle"></i>
            </div>

            <div class="sb_header_img">
                <img src="assets/img/perfil.jpg" alt="">
            </div>
        </header>
        <main class="sb_main">
            <div class="sb_list show" id="nav-bar">
                <nav class="sb_nav">
                    <div>
                        <a href="../../index.html" class="sb_nav_logo">
                            <i class='bx bx-layer sb_nav_logo_icon'></i>
                            <span class="sb_nav_logo_name">Naveen UI</span>
                        </a>

                        <div class="sb_nav_list">
                            <div>
                                <h3 class="sb_list_topic">Getting Started</h3>
                                <ul class="sb_nav_list_group">
                                    <li>
                                        <a href="#" class="sb_nav_link active">
                                            <i class='bx bx-grid-alt sb_nav_icon'></i>
                                            <span class="nav_name">Installation</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="sb_nav_link active">
                                            <i class='bx bx-grid-alt sb_nav_icon'></i>
                                            <span class="nav_name">What's New</span>
                                        </a>

                                    </li>
                                </ul>
                            </div>
                            <div>
                                <h3 class="sb_list_topic">Components</h3>
                                <ul class="sb_nav_list_group">
                                    <li>
                                        <a href="../alert/alert.html#alert" class="sb_nav_link active">
                                            <i class='bx bx-grid-alt sb_nav_icon'></i>
                                            <span class="nav_name">Alert</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="../avatar/avatar.html#avatar" class="sb_nav_link">
                                            <i class='bx bx-user sb_nav_icon'></i>
                                            <span class="nav_name">Avatar</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="../badge/badge.html#badge" class="sb_nav_link">
                                            <i class='bx bx-message-square-detail sb_nav_icon'></i>
                                            <span class="nav_name">Badge</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="../button/button.html#button" class="sb_nav_link">
                                            <i class='bx bx-bookmark sb_nav_icon'></i>
                                            <span class="nav_name">Button</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="sb_nav_link">
                                            <i class='bx bx-folder sb_nav_icon'></i>
                                            <span class="nav_name">Card</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="sb_nav_link">
                                            <i class='bx bx-bar-chart-alt-2 sb_nav_icon'></i>
                                            <span class="nav_name">Image</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="sb_nav_link">
                                            <i class='bx bx-bar-chart-alt-2 sb_nav_icon'></i>
                                            <span class="nav_name">Input</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="sb_nav_link">
                                            <i class='bx bx-bar-chart-alt-2 sb_nav_icon'></i>
                                            <span class="nav_name">List</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <a href="#" class="sb_nav_link">
                        <i class='bx bx-log-out sb_nav_icon'></i>
                        <span class="nav_name">Log Out</span>
                    </a>
                </nav>
            </div>
            <div class="sb_content">
                <h1>Components</h1>
            </div>
        </main>
    </section>
    <section id="button_group" class="flex flex_column">
        <div>
            <button class="btn btn_primary">Primary</button>
            <button class="btn btn_outlined">Outlined</button>
            <button class="btn btn_danger">Danger</button>
            <button class="btn btn_diabled" disabled>Disabled</button>
            <button class="btn btn_icon_primary btn_primary">
                <span class="btn_icon">
                    <i class='fa fa-cart-plus'></i>
                </span>
                Add Cart
            </button>
        </div>
        <div>
            <button class="btn btn_primary_outlined">Primary</button>
            <button class="btn btn_danger_outlined">Danger</button>
            <button class="btn btn_diabled" disabled>Disabled</button>
            <button class="btn btn_icon_primary btn_primary_outlined">
                <span class="btn_icon">
                    <i class='fa fa-cart-plus'></i>
                </span>
                Add Cart
            </button>
        </div>
        <div class="float_btn_container">
            <span class="float_icon float_options_holder">
                <i class="fa fa-plus"></i>
            </span>
            <ul class="float_options">
                <li class="flex align_center">
                    <div class="float_icon">
                        <i class="fa fa-instagram"></i>
                    </div>
                    <span class="float_label">Instagram</span>
                </li>
                <li class="flex align_center>
                    <div class="float_icon">
                        <i class="fa fa-twitter"></i>
                    </div>
                    <span class="float_label">Twitter</span>
                </li>
                <li class="flex align_center>
                    <div class="float_icon">
                        <i class="fa fa-linkedin"></i>
                    </div>
                    <span class="float_label">LinkedIn</span>
                </li>
            </ul>
        </div>
    </section>
</body>

</html>