<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Naveen Chandar">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/variables.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../sidebar/sidebar.css">
    <link rel="stylesheet" href="./ratings.css">
    <title>Ratings</title>
</head>

<body>
    <section id="sidebar">
        <header class="sb_header" id="header">
            <div class="sb_header_toggle">
                <i class='bx bx-menu' id="header-toggle"></i>
            </div>

            <div class="sb_header_img">
                <img src="assets/img/perfil.jpg" alt="">
            </div>
        </header>
        <main class="sb_main">
            <div class="sb_list show" id="nav-bar">
                <nav class="sb_nav">
                    <div>
                        <a href="../../index.html" class="sb_nav_logo">
                            <i class='bx bx-layer sb_nav_logo_icon'></i>
                            <span class="sb_nav_logo_name">Naveen UI</span>
                        </a>

                        <div class="sb_nav_list">
                            <div>
                                <h3 class="sb_list_topic">Getting Started</h3>
                                <ul class="sb_nav_list_group">
                                    <li>
                                        <a href="#" class="sb_nav_link active">
                                            <i class='bx bx-grid-alt sb_nav_icon'></i>
                                            <span class="nav_name">Installation</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="sb_nav_link active">
                                            <i class='bx bx-grid-alt sb_nav_icon'></i>
                                            <span class="nav_name">What's New</span>
                                        </a>

                                    </li>
                                </ul>
                            </div>
                            <div>
                                <h3 class="sb_list_topic">Components</h3>
                                <ul class="sb_nav_list_group">
                                    <li>
                                        <a href="../alert/alert.html#alert" class="sb_nav_link active">
                                            <i class='bx bx-grid-alt sb_nav_icon'></i>
                                            <span class="nav_name">Alert</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="../avatar/avatar.html#avatar" class="sb_nav_link">
                                            <i class='bx bx-user sb_nav_icon'></i>
                                            <span class="nav_name">Avatar</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="../badge/badge.html#badge" class="sb_nav_link">
                                            <i class='bx bx-message-square-detail sb_nav_icon'></i>
                                            <span class="nav_name">Badge</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="../button/button.html#button" class="sb_nav_link">
                                            <i class='bx bx-bookmark sb_nav_icon'></i>
                                            <span class="nav_name">Button</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="sb_nav_link">
                                            <i class='bx bx-folder sb_nav_icon'></i>
                                            <span class="nav_name">Card</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="../image/image.html#image" class="sb_nav_link">
                                            <i class='bx bx-bar-chart-alt-2 sb_nav_icon'></i>
                                            <span class="nav_name">Image</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="sb_nav_link">
                                            <i class='bx bx-bar-chart-alt-2 sb_nav_icon'></i>
                                            <span class="nav_name">Input</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="sb_nav_link">
                                            <i class='bx bx-bar-chart-alt-2 sb_nav_icon'></i>
                                            <span class="nav_name">List</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <a href="#" class="sb_nav_link">
                        <i class='bx bx-log-out sb_nav_icon'></i>
                        <span class="nav_name">Log Out</span>
                    </a>
                </nav>
            </div>
            <div class="sb_content">
                <h1>Components</h1>
            </div>
        </main>
    </section>
    <section class="flex_row ratings">
        <div>
            <span class="fa fa-star star_checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </div>
        <br />
        <div>
            <span class="fa fa-star star_checked"></span>
            <span class="fa fa-star-half-full star_checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </div>
        <br />
        <div>
            <span class="fa fa-star star_checked"></span>
            <span class="fa fa-star star_checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </div>
        <br />
        <div>
            <span class="fa fa-star star_checked"></span>
            <span class="fa fa-star star_checked"></span>
            <span class="fa fa-star star_checked"></span>
            <span class="fa fa-star"></span>
            <span class="fa fa-star"></span>
        </div>
        <br />
        <ul>
            <li class="fa fa-star star_checked"></li>
            <li class="fa fa-star star_checked"></li>
            <li class="fa fa-star star_checked"></li>
            <li class="fa fa-star star_checked"></li>
            <li class="fa fa-star fa-star-half-full star_checked"></span>
        </ul>
        <br />
        <ul>
            <li class="fa fa-star star_checked"></li>
            <li class="fa fa-star star_checked"></li>
            <li class="fa fa-star star_checked"></li>
            <li class="fa fa-star star_checked"></li>
            <li class="fa fa-star star_checked"></li>
        </ul>
        <br />
    </section>
</body>

</html>