.toast {
    background-color: var(--primary-color);
}

.toast_success {
    background-color: var(--green);
}

.toast_error {
    background-color: var(--toast-error);
}

.toast_warning {
    background-color: var(--orange);
}

.toast, .toast_close {
    color: var(--white);
}

.toast_iframe {
    width: 580px;
    height: 261px;
    border: 0;
    transform: scale(1);
    overflow: hidden;
}