<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Naveen Chandar">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/variables.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../sidebar/sidebar.css">
    <link rel="stylesheet" href="./navigation.css">
    <title>Navigation</title>
</head>

<body>
    <div class="nav_container flex justify">
        <div class="nav_group">
            <nav class="navbar flex_row justify_spacebtw">
                <a class="navbar_brand nav_link" href="#">Brand Name</a>
                <div class="nav_options">
                    <ul class="navbar_nav flex">
                        <li class="nav_item active">
                            <a class="nav_link" href="#">Nav Item 1</a>
                        </li>
                        <li class="nav_item">
                            <a class="nav_link" href="#">Nav Item 2</a>
                        </li>
                        <li class="nav_item">
                            <a class="nav_link" href="#">Nav Item 3</a>
                        </li>
                        <li class="nav_item">
                            <a class="nav_link" href="#">Nav Item 4</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <br />
    <div class="nav_container flex justify">
        <div class="nav_group">
            <nav class="navbar flex_row justify_spacebtw">
                <div class="nav_options">
                    <ul class="navbar_nav flex">
                        <a class="navbar_brand nav_link align_center" href="#">Brand Name</a>
                        <li class="nav_item active">
                            <a class="nav_link" href="#">Nav Item 1</a>
                        </li>
                        <li class="nav_item">
                            <a class="nav_link" href="#">Nav Item 2</a>
                        </li>
                        <li class="nav_item">
                            <a class="nav_link" href="#">Nav Item 3</a>
                        </li>
                    </ul>
                </div>
                <div class="nav_search flex align_center">
                    <input type="search" placeholder="Search" class="input" />
                    <button class="btn">Search</button>
                </div>
            </nav>
        </div>
    </div>
    <br />
    <div class="nav_container flex justify">
        <div class="nav_group">
            <nav class="navbar flex_row justify_spacebtw">
                <div class="nav_options">
                    <ul class="navbar_nav flex">
                        <a class="navbar_brand nav_link align_center" href="#">Brand Name</a>
                        <li class="nav_item active">
                            <a class="nav_link" href="#">Nav Item 1</a>
                        </li>
                        <li class="nav_item">
                            <a class="nav_link" href="#">Nav Item 2</a>
                        </li>
                        <li class="nav_item">
                            <a class="nav_link" href="#">Nav Item 3</a>
                        </li>
                    </ul>
                </div>
                <div class="nav_search flex align_center">
                    <button class="btn">Sign up</button>
                    <button class="btn">Log in</button>
                </div>
            </nav>
        </div>
    </div>
    <br />
    <div class="nav_container flex justify">
        <div class="nav_group">
            <nav class="navbar flex_row justify_spacebtw">
                <div class="nav_options">
                    <ul class="navbar_nav flex">
                        <a class="navbar_brand nav_link align_center" href="#">Brand Name</a>
                        <li class="nav_item active">
                            <a class="nav_link" href="#">Nav Item 1</a>
                        </li>
                        <li class="nav_item">
                            <a class="nav_link" href="#">Nav Item 2</a>
                        </li>
                        <li class="nav_item">
                            <a class="nav_link" href="#">Nav Item 3</a>
                        </li>
                    </ul>
                </div>
                <div class="nav_search flex align_center">
                    <i class='fa fa-user-o nav_profile'></i>
                </div>
            </nav>
        </div>
    </div>
    <br />
    <div class="nav_container flex justify">
        <div class="nav_group">
            <nav class="navbar nav_stack flex_row flex_column justify_spacebtw">
                <a class="navbar_brand nav_link" href="#">Brand Name</a>
                <div class="nav_options">
                    <ul class="navbar_nav flex">
                        <li class="nav_item active">
                            <a class="nav_link" href="#">Nav Item 1</a>
                        </li>
                        <li class="nav_item">
                            <a class="nav_link" href="#">Nav Item 2</a>
                        </li>
                        <li class="nav_item">
                            <a class="nav_link" href="#">Nav Item 3</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <br />
</body>

</html>