<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Naveen Chandar">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/reset.css">
    <link rel="stylesheet" href="../../css/variables.css">
    <link rel="stylesheet" href="../../css/common.css">
    <link rel="stylesheet" href="../sidebar/sidebar.css">
    <link rel="stylesheet" href="./typography.css">
    <title>Text utilities</title>
</head>

<body>
    <div>
        <h1> H1 Heading1 </h1>
        <h2> H2 Heading2 </h2>
        <h3> H3 Heading3 </h3>
        <h4> H4 Heading4 </h4>
        <h5> H5 Heading5 </h5>
        <h6> H6 Heading6 </h6>
    </div>
    <br />
    <div>
        <p class="text_xl">Laborum ipsum ullamco est qui in ullamco.</p>
        <p class="text_lg">Laborum ipsum ullamco est qui in ullamco.</p>
        <p class="text_md">Laborum ipsum ullamco est qui in ullamco.</p>
        <p class="text_sm">Laborum ipsum ullamco est qui in ullamco.</p>
    </div>
    <br />
    <div>
        <p class="text_gray">Lorem ipsum dolor sit amet</p>
        <p class="text_xl text_gray">Lorem ipsum dolor sit amet</p>
    </div>
    <br />
    <div>
        <p class="text_center">Consequat enim culpa sint amet nostrud ex.</p>
        <p class="text_left">Aliqua laborum incididunt et voluptate.</p>
        <p class="text_right">Ipsum nostrud elit ut esse aliquip.</p>
        <p class="text_justify">Ipsum nostrud elit ut esse aliquip.</p>
    </div>
    <br />
    <div>
        <p class="text_overline">Consequat enim culpa sint amet nostrud ex.</p>
        <p class="text_linethrough">Aliqua laborum incididunt et voluptate.</p>
        <p class="text_underline">Ipsum nostrud elit ut esse aliquip.</p>
    </div>
    <br />
    <div>
        <p class="text_uppercase">Consequat enim culpa sint amet nostrud ex.</p>
        <p class="text_lowercase">Aliqua laborum incididunt et voluptate.</p>
        <p class="text_capitalize">Ipsum nostrud elit ut esse aliquip.</p>
    </div>
</body>

</html>